@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@media print {
  body * {
    visibility: hidden;
  }
  .print-section, .print-section * {
    visibility: visible;
  }
  .print-section {
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    margin: 0;
    padding: 0;
  }
  .print-hide, .print-hide * {
    display: none !important;
  }
  @page {
    margin: 0;
    size: auto;
  }
  html, body {
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
}
